<div>
  <mat-toolbar class="header">
    <button mat-icon-button (click)="drawer.toggle()" (click)="isButtonVisible = !isButtonVisible">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/image/keepIcon.png">
    <span>Note</span>
    <mat-card class="input-card">
      <mat-icon>search</mat-icon>
      <div class="input-feild">
        <input type="search" placeholder="search">
      </div>
    </mat-card>
    <span class="settings"></span>
    <button mat-icon-button>
      <mat-icon>widgets</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>

  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="start start">

    <mat-drawer-container class="container" autosize>
      <div class="nav" (mouseenter)="drawer.toggle()" *ngIf="isButtonVisible"
        (mouseleave)="isButtonVisible = !isButtonVisible" fxFlex="10%" >
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-drawer #drawer class="sidenav" mode="side" (mouseleave)="drawer.toggle()"
        (mouseleave)="isButtonVisible = !isButtonVisible">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let operation of typesOfOperation" [value]="operation" class="option">
            {{operation}}
          </mat-list-option>
        </mat-selection-list>
      </mat-drawer>
        <div fxFlex="90%" fxLayoutAlign="center start" class="content">
            <app-notes></app-notes>
        </div>
    
    </mat-drawer-container>

  </div>
</div>