<div>
  <mat-toolbar class="header">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fundoo</span>
    <mat-card class="input-card">
      <button mat-button>
        <mat-icon>search</mat-icon>
      </button>
      <div class="input-feild">
        <input type="search">
      </div>
    </mat-card>
    <span class="settings"></span>
    <button mat-icon-button>
      <mat-icon>widgets</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-drawer-container class="container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let operation of typesOfOperation" [value]="operation" class="option">
            {{operation}}
          </mat-list-option>
        </mat-selection-list>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>