@mixin color {
    width:25px;
    height: 25px;
    margin: 3px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.color-one{
    @include color();
    background-color: #fff;
}
.color-two{
    @include color();
    background-color: #f28b82;
}
.color-three{
    @include color();
    background-color: #fbbc04;
}
.color-four{
    @include color();
    background-color: #fff475;
}
.color-five{
    @include color();
    background-color: #ccff90;
}
.color-six{
    @include color();
    background-color: #a7ffeb;
}
.color-seven{
    @include color();
    background-color: #cbf0f8;
}
.color-eight{
    @include color();
    background-color: #aecbfa;
}
.color-nine{
    @include color();
    background-color: #d7aefb;
}
.color-ten{
    @include color();
    background-color: #fdcfe8;
}
.color-eleven{
    @include color();
    background-color: #e6c9a8;
}
.color-twelve{
    @include color();
    background-color: #e8eaed;
}
.color{
    @include color();
    background-color: #202124;
}
.mat-icon{
    font-size: 18px;
}
.pallet{
    padding: 5px;
}