<div fxLayout="row wrap " fxLayoutGap="20px">
  <mat-card class="card" *ngFor="let n of note; let i=index" appearance="outline" (mouseenter)="onHover(i)"
    (mouseleave)="onHover(-1)">
    <div (click)="openDialog(n.title,n.description,n.id)">
      <mat-card-content>
        <mat-card-title>
          {{n.title}}
        </mat-card-title>
        <mat-card-content>
        {{n.description}}
      </mat-card-content>
    </mat-card-content>
    </div>
    <mat-card-content class="pannel">
      <span *ngIf="i==hoverIndex" class="pannel">
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="unarchive"
            (click)="restoreArchive(n.id)">unarchive</mat-icon>
        </button>
      </span>
    </mat-card-content>
  
  </mat-card>
</div>
<div *ngIf="noNote()" fxLayout="row" fxLayoutAlign="center center" class="disabled">
  <img src="../../../assets/image/keepIcon.png" alt="icon">
  <div>
    no note in Archive
  </div>
</div>