
<div fxLayout="row wrap " fxLayoutGap="20px" >
    <mat-card class="card" *ngFor="let n of note; let i=index" appearance="outline">
      <div (click)="openDialog(n.title,n.description,n.id)">
        <mat-card-header>
          <mat-card-title>
            {{n.title}}
          </mat-card-title>
            <mat-card-title>
              <mat-card-content>
                {{n.description}}
              </mat-card-content>
           </mat-card-title>
        </mat-card-header>
      </div>
      <!-- <mat-content>
         <span *ngIf="i==hoverIndex" class="pannel"> 
        <span *ngIf="displayPannel()" class="pannel"> 
          <app-card-pannel [noteId]="n.id"></app-card-pannel>
          </span>
    </mat-content> -->
    </mat-card>
  </div>
  <div *ngIf="noNote()" fxLayout="row" fxLayoutAlign="center center" class="disabled">
    <img src="../../../assets/image/keepIcon.png" alt="icon">
    <div>
      no note in Archive
    </div>
  </div>