    <button mat-icon-button >
        <mat-icon class="material-icons-outlined"#tooltip="matTooltip"
        matTooltip="reminder">add_alert</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="material-icons-outlined" #tooltip="matTooltip"
        matTooltip="add peron">person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <app-color-pallet></app-color-pallet>
    </button>
    <button mat-icon-button >
        <mat-icon class="material-icons-outlined" #tooltip="matTooltip"
        matTooltip="delete" (click)="trashNote()">delete</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon class="material-icons-outlined" #tooltip="matTooltip"
        matTooltip="archive" (click)="archiveNote()">archive</mat-icon>
    </button>
   
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above" fxLayout="row">
        <button mat-menu-item>
            <span>add lable</span>
        </button>
        <button mat-menu-item>
            <span>add drwaing</span>
        </button>
    </mat-menu>