    <button mat-icon-button >
        <mat-icon class="material-icons-outlined">add_alert</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="material-icons-outlined">person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="material-icons-outlined">color_lens</mat-icon>
    </button>
    <button mat-icon-button >
        <mat-icon class="material-icons-outlined" (click)="trashNote()">delete</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon class="material-icons-outlined">archive</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span>add lable</span>
        </button>
        <button mat-menu-item>
            <span>add drwaing</span>
        </button>
    </mat-menu>