$red:rgb(234, 67, 53);
$yellow:#fbbc05;
$blue:#4285f4;
$green:#34a853;
$size:100%;

.form-field{
    width:49% ;
    padding-right:1%;
}

.name-field{
 width :$size ;
}

.main{
    margin-top: 10%;
}


.signin{
    text-decoration: none;
    color: $blue;
    font-size: 30; 
}

.image{
    width: 400px;
}

.fundoo{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blue{
    color: $blue;
  }
  
  .yellow{
    color:$yellow;
  }
  
  .red{
    color:$red;
  }

  .green{
    color: $green;
  }
   
