<div fxLayout="row wrap " fxLayoutGap="20px" >
    <mat-card class="card" *ngFor="let n of note; let i=index" appearance="outline" (mouseenter)="onHover(i)"
    (mouseleave)="onHover(-1)">
      <div (click)="openDialog(n.title,n.description,n.id)">
        <mat-card-content>
          <mat-card-title>
            {{n.title}}
          </mat-card-title>
            <mat-card-title>
              <mat-card-content>
                {{n.description}}
              </mat-card-content>
           </mat-card-title>
        </mat-card-content>
      </div>
       <mat-content>
        <span *ngIf="i==hoverIndex" class="pannel"> 
        <button mat-icon-button >
          <mat-icon class="material-icons-outlined" #tooltip="matTooltip"
          matTooltip="restore"(click)="restoreDelete(n.id)">restore_from_trash</mat-icon>
      </button>
      <button mat-icon-button>
          <mat-icon class="material-icons-outlined" #tooltip="matTooltip"
          matTooltip="delete forever" (click)="deleteForever(n.id)">delete_forever</mat-icon>
      </button>
      </span>
    </mat-content>
    </mat-card>
  </div>
  <div *ngIf="noNote()" fxLayout="row" fxLayoutAlign="center center" class="disabled">
    <img src="../../../assets/image/keepIcon.png" alt="icon">
    <div>
      no note in Bin
    </div>
  </div>