<div fxLayout="row wrap " fxLayoutGap="20px" *ngIf="!nonoteCondition">
  <mat-card class="card" *ngFor="let note of note; let i=index" appearance="outline" (mouseenter)="onHover(i)"
    (mouseleave)="onHover(-1)" [style.background]="note.color" >
    <div (click)="openDialog(note.title,note.description,note.id)" >
      <mat-card-content >
        <mat-card-title>
          {{note.title}}
        </mat-card-title>
        <mat-card-title>
          <mat-card-content>
            {{note.description}}
          </mat-card-content>
        </mat-card-title>
      </mat-card-content>
    </div>
    <div>
    <mat-card-content>
     <mat-form-field appearance="none">
      <mat-chip-list #chipList >
        <mat-chip *ngFor="let lable of note.noteLabels" [selectable]="selectable"
        [removable]="removable" (removed)="remove(lable)" >
                 {{lable.label}} 
                 <mat-icon matChipRemove >cancel</mat-icon>
                </mat-chip>
                 <!-- <input
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"> -->
  
        
      </mat-chip-list>
    </mat-form-field> 
  </mat-card-content>
  </div>

    <mat-card-content>

      <span [hidden]="!(hoverIndex==i)" class="pannel">
        <app-card-pannel [noteId]="note.id"></app-card-pannel>
      </span>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="noNote()" fxLayout="row" fxLayoutAlign="center center" class="disabled">
  <img src="../../../assets/image/keepIcon.png" alt="icon">
  <div>
    no note to display
  </div>
</div>